@import "src/styles/colors.scss";

.filters {
  display: flex;
  flex-direction: column;
  width: 397px;
  height: 100%;
  background-color: color($var-color-app-white);
  box-shadow: 7px 4px 81px 0px #0000001A;
  border-radius: 0px, 8px, 8px, 0px;

  .filters-header-wrapper {
    padding: 16px 16px 20px 16px;
    border-bottom: 1px solid color($var-color-app-grey-1);
    .search-wrapper {
      padding-top: 12px;
    }
  }
  .filters-wrapper {
    flex-grow: 1;
    overflow: none;
    padding: 16px 16px 0px 16px;
    height: calc(100vh - 238.5px);
  }

  .filters-footer {
    display: flex;
    align-items: center;
    height: 72px;
    border-top: 1px solid color($var-color-app-grey-3);
    padding-left: 16px;
  }
}