@import "src/styles/colors.scss";

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;

  .column-control-item {
    display: flex;
    align-items: center;
  }

  .drag-and-drop-icon {
    display: flex;
    align-items: center;
    padding-right: 4px;
    cursor: default;
  }

  .bookmark-icon {
    display: flex;
    align-items: center;
    cursor: pointer;

    .item-no-pin {
      g path:nth-child(1) {
        fill: color($var-color-app-dark-blue-3);
        stroke: transparent;
      }
    }
  }

  .info-icon {
    display: flex;
    align-items: center;
    padding-left: 4px;
  }

  .column-name {
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: color($var-color-app-dark-blue);
  }
}