@import "src/styles/colors.scss";

.logo-wrapper {
  width: 33px;
  height: 33px;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &.logo-error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: color($var-color-app-dark-blue);
    background-color: color($var-color-app-bg);
  }
}