@import "src/styles/colors.scss";

.main {
  display: flex;
  width: 100vw;
  flex-wrap: nowrap;
  overflow: hidden;
  height: calc(100vh - 62px);

  .test {
    width: 100%;
    height: fit-content;

    .data-table-wrapper {
      padding: 16px;
      padding-top: 0;
      height: calc(100vh - 170px);
    }
  }
}