@import "src/styles/colors.scss";

.mu-select {
  width: inherit;
  height: 50px;
  position: inherit;
  z-index: 1;

  .mu-select-close-icon {
    display: flex;
    stroke: #4a7a8a;
    cursor: pointer;
  }

  .mu-select-drop-icon {
    display: flex;
    stroke: #4a7a8a;
    padding-left: 5px;
    padding-right: 10px;
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    border: 1px solid color($var-color-app-grey-1);
    border-radius: 8px;
    min-width: 100%;
    font-family: inherit;
    height: 2.5rem;
    padding-left: 16px;
    outline: none;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.active {
      border: 1px solid color($var-color-app-grey-2);
    }

    .search-value-wrapper {
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      position: relative;

      .pseudo-placeholder {
        color: color($var-color-app-grey-2);
      }
    }

    .control-wrapper {
      display: flex;

      span {
        font-size: 14px;
        color: color($var-color-app-grey-2);
      }
    }
  }
}

.custom-menu-list {
  width: 180px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px;
  border: 1px solid;
  border-color: color($var-color-app-grey-1);
  background-color: white;
  border-radius: 8px;

  .checkbox-wrapper {
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    padding-left: 10px;

    .isApplied {
      width: 120px;
    }

  }
  
  .checkbox-label {
    font-size: 14px;
    line-height: 20px;
    color: #454A54;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 290px;
  }

  .wrapper {
    .search-icon {
      position: absolute;
      top: 18px;
      left: 17px;
    }
  }

  &.active {
    border: 1px solid color($var-color-app-grey-2);
  }

  input {
    font-size: 14px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    display: block;
    min-width: 100%;
    font-family: inherit;
    height: 2.5rem;
    padding: 0 1rem;
    padding-left: 30px;
    border-color: color($var-color-app-grey-1);
    outline: none;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      border-color: color($var-color-app-grey-2);
      color: color($var-color-app-black);
      padding-left: 30px;
    }

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: color($var-color-app-grey-2);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.clear-all-button-wrapper {
  display: flex;
  height: 44px;
  width: 100%;
  border-radius: 5px;

  .clear-all-button {
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    color: color($var-color-app-grey-2);
    padding-left: 10px;
  }
}