@import "src/styles/colors.scss";


.date-picker {
  width: 100%;
  .input {
    display: flex;
    flex-direction: column;

    label {
      display: block;

      .icon {
        position: absolute;
        top: 13px;
        left: 16px;
        color: color($var-color-app-dark-blue-3) svg {
          font-size: 18px;
        }
      }

      .input-label {
        font-size: 12px;
        line-height: 20px;
      }

      input[type="text"] {
        width: 100%;
        height: 40px;
        padding: 0 16px;
        padding-left: 46px;
        font-weight: normal;
        font-size: 14px;
        background-color: color($var-color-app-white);
        border: 1px solid color($var-color-app-grey-1);
        border-radius: 8px;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;

        &::placeholder {
          color: color($var-color-app-grey-2);
          font-size: 14px;
        }

        &:focus {
          border-color: color($var-color-app-grey-2);
        }

        &:disabled {
          border-color: color($var-color-app-grey-1) !important;
        }

        &.error {
          border-color: color($var-color-app-orange);
        }
      }
    }
  }

  .error-field {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 0.75rem;
    color: color($var-color-app-orange);
  }

  .calendar {
    padding: 10px;
    border-color: color($var-color-app-grey-2);
    border-radius: 10px;
    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 20px;
      background-color: color($var-color-app-white);
      border-bottom: 1px solid rgb(39 41 55 / 12%);

      .month-control-icon {
        position: absolute;
        background-color: transparent;

        svg {
          fill: color($var-color-app-black-2);
        }

        border: none;
        color: color($var-color-app-black-2);
        cursor: pointer;

        &-left {
          left: 0;
        }

        &-right {
          right: 0;
        }
      }

      .current-date {
        color: color($var-color-app-black-2);
        font-weight: 700;
        user-select: none;
        font-family: Arial;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.04em;
        text-align: center;
      }
    }

    .day {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      width: 44px;
      height: 43px;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.6000000238418579px;
      text-align: center;

      &:hover {
        background-color: color($var-color-app-blue-light);
      }
    }
  }
}

.clear-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 29%;
  right: 7px;
  background-color: white;
}