@import "src/styles/colors.scss";

.person {
  display: flex;
  align-items: center;
  white-space: nowrap;

  cursor: pointer;

  .name-wrapper {
    margin-left: 10px;

    .name {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: color($var-color-app-dark-blue);
    }

    .position {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: color($var-color-app-black-2);
    }

    .role {
      font-size: 12px;
    }
  }
}