@import "src/styles/colors.scss";

.column-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;

  .left-side {
    padding-right: 24px;
  }

  .right-side {
    padding-left: 10px;
    padding-right: 14px;
  }

  .left-side,
  .right-side {
    display: flex;
    justify-content: space-between;
    width: 50%;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: color($var-color-app-dark-blue);
      padding-left: 8px;
    }
  }

}