@import "src/styles/colors.scss";

.wrapper {
  display: flex;
  width: 180px;

  .input-block-wrapper {
    display: flex;
    align-items: center;
    width: 103px;

    .divider {
      padding-left: 4px;
      padding-right: 4px;
      color: color($var-color-app-blue-light);
    }

    .input-block {

      input {
        width: 40px;
        height: 40px;
        border: 1px solid color($var-color-app-grey-1);
        border-radius: 8px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
      }
    }
  }

  .input-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60px;
    height: 40px;
  }
}